/*
    rem and em do not depend on html font-size in media queries!
    Instead, 1rem = 1em = 16px
    rem --> root font size
    em --> current font size
*/

/* Media queries for laptop screens */

@media (max-width: 85em) {
    .hero {
        max-width: 120em;
    }

    .primary-heading {
        font-size: 4.4rem;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Media queries for smaller laptops + tablet screens */

@media (max-width: 76em) {
    html {
        font-size: 56.25%;
    }
    
    .secondary-heading {
        font-size: 3.6rem;
    }

    .tertiary-heading {
        font-size: 2.4rem;
    }

    .grid {
        column-gap: 4.8rem;
        row-gap: 6.4rem;
    }

    .header {
        padding: 0 3.2rem;
    }

    .hero {
        gap: 6.4rem;
    }

    .testimonial-container {
        padding: 9.6rem 3.2rem;
    }
}

/* Media queries for Tablet screens */

@media (max-width: 59em) {
    html {
        font-size: 50%;
    }

    .hero {
        grid-template-columns: 1fr;
        padding: 0 8rem;
        gap: 6.4rem;
    }

    .hero-image {
        width: 60%;
    }

    .hero-text-box, 
    .hero-image-box {
        text-align: center;
    }

    .delivered-meals {
        justify-content: center;
    }

    .as-mentioned-logos img {
        height: 2.4rem;
    }

    .step-number {
        font-size: 7.0rem;
    }

    .meal-content {
        padding: 2.4rem 3.2rem 3.2rem 3.2rem;
    }

    .section-testimonials {
        grid-template-columns: 1fr;
    }

    .gallery {
        grid-template-columns: repeat(6, 1fr);
    }

    .list-item {
        line-height: 1.6;
    }

    .cta {
        grid-template-columns: 3fr 2fr;
    }

    .cta-form {
        grid-template-columns: 1fr;
    }

    .button-form {
        margin-top: 2.4rem;
    }

    .button-menu-nav {
        display: block;
        z-index: 999;
    }

    .main-navigation {
        background-color: rgba(255, 255, 255, 0.9);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(10px);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: all 0.5s ease-in-out;
        transform: translateX(100%);

        /*
            display: none allows no transition at all
        */

        /* display: none; */

        /* opacity 0 hides the element and allows transition */
        /* 1) HIDE THE ELEMENT */
        opacity: 0;
        /* 2) HIDE THE ELEMENT FROM SCREEN READERS */
        visibility: hidden;
        /* 3) MAKE THE ELEMENT INACCESSIBLE TO MOUSE AND KEYBOARD */
        pointer-events: none;
    }
    
    .nav-open, 
    .main-navigation {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateX(0);
    }

    .nav-open, 
    .icon-menu-nav[name="close-outline"] {
        display: block;
    }

    .nav-open, 
    .icon-menu-nav[name="menu-outline"] {
        display:none;
    }


    .main-navigation-list {
        flex-direction: column;
        gap: 4.8rem;
    }

    .main-navigation-link:link, 
    .main-navigation-link:visited {
        font-size: 3rem;
    }

}

@media (max-width: 44em) {
    .grid--3--columns, 
    .grid--4--columns {
        grid-template-columns: repeat(2, 1fr);
    }

    .diets {
        grid-column: 1 / -1;
        justify-self: center;
    }

    .pricing {
        width: 100%;
    }

    .grid--footer {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .nav-col {
        grid-row: 1;
        grid-column: span 2;
    }

    .logo-col, 
    .address-col {
        grid-column: span 3;
    }
}

@media (max-width: 34em) {

    .grid {
        row-gap: 4.8rem;
    }

    .grid--2--columns,
    .grid--3--columns, 
    .grid--4--columns {
        grid-template-columns: 1fr;
    }

    .hero {
        padding: 0 3.2rem;
    }

    .section-hero {
        padding: 2.4rem 0 6.4rem 0;
    }

    .button:link, 
    .button:visited {
        padding: 2.4rem 1.6rem;
    }   

    .hero-image {
        width: 80%;
    }

    .as-mentioned-logos img {
        height: 1.2rem;
    }

    .step-image-box:nth-child(1) {
        grid-row: 2;
    }

    .step-image-box:nth-child(2) {
        grid-row: 4;
    }

    .gallery {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.2rem;
    }

    .cta {
        grid-template-columns: 1fr;
    }

    .cta-image-box {
        height: 32rem;
        grid-row: 1;
    }

    .cta-text-box {
        padding: 3.2rem;
    }
}