* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1;
    color: #555;
}

.section-hero {
    background-color: #fdf2e9;
    padding: 9.6rem 0;
}

.hero {
    /* GRID CONTAINER */
    display: grid;

    max-width: 130rem;
    margin: auto; /* Centering the container */
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
}

.hero-text-box {

}

.primary-heading {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.1;
    color: #333;
    letter-spacing: -0.5px;
    margin-bottom: 3.2rem;
}

.hero-description {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 4.8rem;
}

.hero-image-box {

}

.hero-image {
    width: 100% ;
}

.button:link, 
.button:visited {
    font-size: 2rem;
    display: inline-block;
    padding: 1.6rem 3.2rem;
    text-decoration: none;
    border-radius: 12px;

    transition: all 0.3s;
}

.button-full:link, 
.button-full:visited {
    background-color: #e67e22;
    color: #fff;
}

.button-full:hover, 
.button-full:active {
    background-color: #cf711f;
    color: #fff;
}

.button-outlined:link, 
.button-outlined:visited {
    background-color: #fff;
    color: #555;
}

.button-outlined:hover, 
.button-outlined:active {
    background-color: #fdf2e9;
    color: #555;

    box-shadow: inset 0 0 0 3px #fff;
}

.margin-right-sm {
    margin-right: 1.6rem !important;
}


